.lead__figure {
    margin: 0;
    padding-top: 64px;
  }
  
  @media (min-width: 320px) and (max-width: 1024px) {
    .lead__figure {
      max-width: 100%;
      margin:  auto;
      padding-top: 56px;
    }
  }
  
  @media (max-width: 319px) {
    .lead__figure {
      max-width: 319px;
      margin: 0;
      padding-top: 40px;
    }
  }